.container {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 5fr 1fr;
    min-height: 100vh;
}

#search-engine {
    background-color: aqua;
    order: 1;
}

#weather {
    background-color: aquamarine;
    order: 3;
}

#date-time {
    background-color: blue;
    order: 2;
}

#michael {
    background-color: blueviolet;
    order: 4
}

#erik {
    background-color: brown;
    order: 5;
}

#susan {
    background-color: orange;
    order: 6;
}

#settings {
    background-color: yellowgreen;
    order: 9;
}

#quotes {
    background-color: thistle;
    order: 8;
}

#todo-list {
    background-color: teal;
    order: 7;
}

