body {
    background-image: url("");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 5fr 1fr;
    min-height: 100vh;
    min-width: 100vw;
    background-color: transparent;
}

.search {
   margin: 0 auto;
}

.search h4 {
    margin: 50px 20px 0px;
    font-size: 30px;
}

.search input[type=text] {
    width: 60%;
    border-radius: 30px;
    outline: none;
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 7px;
    border: solid 1px black;
}

.search a {
    background-color: #fcfafa;
    margin-top: 20px;
    width: 100px;
    text-align: center;
    margin-left: 5px;
}

.search a:hover{
    background-color: #d6edf3;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather {
    background-color: aquamarine;
    order: 3;
}

#michael {
    background-color: blueviolet;
    order: 4;
}

#erik {
    background-color: brown;
    order: 2;
}

#susan {
    background-color: orange;
    order: 6;
}

#settings {
    background-color: yellowgreen;
    order: 7;
}

#quotes {
    background-color: thistle;
    order: 9;
}

#todo-list {
    background-color: teal;
    order: 9;
}

.feature {
    background-color: transparent;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Date-Time div*/
#date-time {
    flex-direction: column;
    order: 5;
}

#curtTime {
    font-size: 16vh;
}

#curtDate {
    font-size: 6vh;
}

#welcMsg,
#welcMsg-close {
    font-size: 6vh;
}

#name {
    display: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    font-size: 5vh;
    max-width: 15vw;
    background-color: transparent;
}