:root{
    --font-p: white;
    --font-s: black;
    --bg-p: #A4EF56;
    --bg-s: white;
}

* {
    color: var(--font-p);
}

body {
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 5fr 2fr;
    min-height: 100vh;
    min-width: 100vw;
    background-color: transparent;
}

/* Search bar */
#search {
    position: relative;
    display: flex;
    align-items: center;
}

#search img {
    opacity: 0;
    width: 60%;
}

#search:hover img{
    opacity: 0.5;
}

#search form {
    position: absolute;
    width: 90%;
    height: 20%;
    top: 40%;
    left: 5%;
    opacity: 0.5;
}

#search:hover form {
    opacity: 1;
}

#search button {
    background-color: transparent;
}

#search-input {
    outline: none;
    border: none;
    border-bottom: 1px solid;
    font-size: 1.5rem;
    width: 50%;
    background-color: transparent;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather {
    order: 3;
}

#ai {
    order: 4;
}

#erik {
    order: 2;
}

#susan {
    order: 6;
}

#settings {
    order: 7;
}

#quotes {
    order: 9;
}

#todo-list {
    order: 9;
}

/* Date-Time div*/
#date-time {
    flex-direction: column;
    order: 5;
}

#curtTime {
    font-size: 16vh;
}

#curtDate {
    font-size: 6vh;
}

#welcMsg,
#welcMsg-close {
    font-size: 6vh;
}

#name {
    display: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    font-size: 5vh;
    max-width: 15vw;
    background-color: transparent;
}

/* OpenAI div */
#ai {
    flex-direction: column;
    position: relative;
}

.input {
    color: var(--font-s);
}

.next-btn {
    visibility: hidden;
    width: 40%;
    color: var(--font-s);
    border-radius: 1rem;
    margin: 1rem auto;
}

#open-ai-key {
    visibility: hidden;
}

#ai:hover {
    border: #fcfafa solid 2px;
    border-radius: 5px;
}

#first:hover .next-btn,
#second:hover .next-btn,
#second:hover #open-ai-key {
    visibility: visible;
}

#first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

#third {
    visibility: hidden;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

#second:hover,
#third:hover {
    opacity: 1;
}

#main-container { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        height: 90%;

}

#chat-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    height: 80%;
}

#main-container .float-right,
#main-container .float-left {
    max-width: 75%;
    text-align: start;
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
}

#main-container .float-right {
    align-self: flex-end;
    background-color: var(--bg-p);
    color: var(--font-s);
    margin-right: 0.3rem;
}

#main-container .float-left {
    align-self: flex-start;
    background-color: var(--bg-s);
    color: var(--font-s);
    margin-left: 0.3rem;
}

#open-ai-key {
    display: none;
}

#sent-question {
    color: var(--font-s);
    border-radius: 1rem;
    margin: 1rem auto;
}

/* Quote */
#quote {
    font-style: italic;
    font-weight: 500;

}
